* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 43, 54, 0.7);
    /*background: rgba(43, 48, 59, 0.7);*/
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    color: white;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#clock, #battery, #cpu, #temperature, #memory, #backlight, #network, #pulseaudio, #custom-audio, #custom-spotify, #tray, #mode, #idle_inhibitor, #custom-updates {
    padding: 0 10px;
    margin: 0 5px;
    background: transparent;
    border-bottom: 3px solid white;
}

#clock {
    background-color: #64727D;
    background: transparent;
}

#battery {
    background-color: #ffffff;
    color: white;
    background: transparent;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
    background: transparent;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: white;
    }
}

#battery.critical:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    background: #2ecc71;
    color: white;
    background: transparent;
}

#memory {
    background: #9b59b6;
    background: transparent;
}

#backlight {
    background: #90b1b1;
    background: transparent;
}

#network {
    background: #2980b9;
    background: transparent;
}

#network.disconnected {
    background: #f53c3c;
    background: transparent;
}

#pulseaudio {
    background: #f1c40f;
    color: white;
    background: transparent;
}

#pulseaudio.muted {
    background: #90b1b1;
    color: white;
    background: transparent;
}

#custom-spotify {
    background: #66cc99;
    color: #2a5c45;
    background: transparent;
}

#tray {
    background-color: #2980b9;
    background: transparent;
}

#idle_inhibitor {
    background-color: #2d3436;
    background: transparent;
}
